<header class="header">
    <a href="/" class="header__logo">WriteItUp</a>
    
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/admin/dashboard" style="color: #2c3e50; font-size: 25px; font-weight: 800;">Admin Panel</a>
            </li>
        </ul>
    </nav>
    
    <div class="header__button">
        <a href="/admin/logout" class = 'btn btn--logout'>
            Logout
        </a>
    </div>
    
</header>
