<div class="author">
    <h1 class="author__heading" style="color: #2c3e50">Hi, I am Shantanu</h1>
    <p class="author__body">I am a full-stack developer and a writer. I write about web development, programming, and tech.</p>
</div>

<img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">

        <% data.forEach(post => { %>

            <li>
                <a href="/user/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
         
        <% }) %>
        
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/user?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
    

</section>